os: Visual Studio 2015

platform:
  - x64

configuration:
  - Debug
  - Release

matrix:
  fast_finish: true

shallow_clone: true

clone_folder: c:\projects\libsocket

before_build:
  - pwd
  - cmake --version
  - echo %configuration%
  - mkdir build
  - cd build
  - cmake -G "Visual Studio 14 2015 Win64" ..

build:
  project: C:\projects\libsocket\build\libsocket.sln

test_script:
  - pwd
  - ls
  - test\%configuration%\libsocket.exe